@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$font-family: 'Poppins', sans-serif;
//Landing Page Styles
//Header
body {
  font-family: $font-family;
}
a {
  text-decoration: none;
}
.header {
  position: sticky;
  top: 0;
  z-index: 1000;

  padding: 10px 25px;

  display: flex;
  justify-content: space-between;

  background-color: #fff;
  flex-wrap: wrap;
  border-bottom: 1px solid #e5e5e5;

  &__logo {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 180px;
      height: 59px;
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 40px;

    &-item {
      font-size: 16px;
      font-weight: 500;

      line-height: 156.25%;
      a {
        color: #000;
        cursor: pointer;
      }

      &:hover {
        a {
          color: #57007b;
        }
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 40px;

    &-item {
      cursor: pointer;

      font-size: 16px;
      font-weight: 500;

      color: #000;

      &--register {
        padding: 14px 25px;

        display: flex;

        color: $white;

        background: $primary;

        border-radius: 5px;

        font-size: 14px;
        font-weight: 600;

        line-height: 14px;

        a {
          text-decoration: none;
          color: #fafafa !important;
        }
      }

      a {
        text-decoration: none;
        color: #000;
      }
    }
  }
  &__mobile {
    background-color: #fff;

    &-container {
      padding: 16px;

      display: flex;
      align-items: center;
      justify-content: space-between;

      border-bottom: 1px solid #e5e5e5;
    }

    &-menu {
      position: absolute;

      padding: 16px;

      display: flex;
      flex-direction: column;
      gap: 20px;

      width: 100%;

      background-color: $white;

      border-bottom: 1px solid #e5e5e5;
    }
  }
}
.page {
  &__landing {
    padding: 0px!important;
    &-banner {
      padding: 70px 100px;
      @media (max-width: 768px) {
        padding: 16px;
      }
    }
  }
  &__results {
    height: 600px;
  }
}
.btn {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  height: 50px;

  font-size: 14px;
  font-weight: 600;

  text-decoration: none;
  line-height: 14px;

  color: #fafafa;

  border-radius: 5px;

  box-shadow: 0px 4px 49px 0px rgba(0, 0, 0, 0.15);

  &--solid {
    background: none;
    border: none;
    box-shadow: none;

    color: #57007b;

    font-size: 16px;

    gap: 8px;
  }
  &--primary {
    padding: 16px 20px;

    background: #57007b;

    outline: none;
    border: none;
  }
  &--outline {
    background: #fff;

    color: #57007b;

    border: 1px solid #57007b;
  }
}
.form {
  &__header {
    &-pretitle {
      margin-bottom: 10px;

      color: $black;
      font-size: 25px;
      font-weight: 300;

      @media (max-width: 768px) {
        font-size: 19px;
      }
    }

    &-title {
      color: $primary;
      font-size: 31px;
      font-weight: 500;

      @media (max-width: 768px) {
        font-size: 25px;
      }
    }

    &-subtitle {
      color: $black;
      font-size: 16px;
      font-weight: 400;

      @media (max-width: 768px) {
        font-size: 16px;
      }
    }
  }

  &__body {
    margin-top: 6px;

    display: flex;
    flex-direction: column;
    gap: 24px;

    @media (max-width: 768px) {
      margin-top: 0;
    }
  }

  &__group {
    display: flex;
    flex-direction: column;
    gap: 9px;
  }

  &__label {
    color: $black;
    font-size: 16px;
    font-weight: 400;
  }

  &__input {
    padding: 19px 27px;

    border-radius: 6px;
    border: 0.6px solid #282828;

    background: $white;
    color: $black;
    &--error {
      border: 0.6px solid #ff0000;
    }

    &::placeholder {
      color: #ababab;
      font-size: 14px;
      font-weight: 300;
    }

    &:focus,
    &:active {
      border: 0.6px solid $primary;
    }

    @media (max-width: 768px) {
      padding: 19px 17px;
    }
  }
  .error {
    color: #ff0000;
    font-size: 14px;
    font-weight: 300;
  }

  &__button {
    outline: none;
    border: none;
    cursor: pointer;

    margin-top: 7px;

    padding: 16px;

    border-radius: 6px;

    background-color: $primary;
    color: $white;

    font-size: 16px;
    font-weight: 500;

    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: #69d6f9;
    }

    &:disabled {
      background-color: #878787;
      cursor: not-allowed;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 5px;

    color: #7d7d7d;

    font-size: 16px;
    font-weight: 300;

    &-link {
      color: #57007b;
      font-weight: 600;
    }

    @media (max-width: 768px) {
      font-size: 12px;
    }
  }
}
.page {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  @media (max-width: 768px) {
    padding: 30px;
  }
  &__header {
    &-title {
      color: $black;
      font-size: 24px;
      font-weight: 500;
      line-height: 120%;

      @media (max-width: 768px) {
        font-size: 20px;
      }
    }
  }
}
