@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
$font-family: 'Lato', sans-serif;
//Landing Page Styles
//Header
.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 25px;
  background-color: #fff;
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.1);
  flex-wrap: wrap;
  &__mobile {
    &-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 16px;
      border: 1px solid #e5e5e5;
    }

    &-menu {
      position: absolute;
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 16px;
      background-color: #fafafa;
      border: 1px solid #e5e5e5;
      gap: 20px;
    }
  }
  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

    &-item {
      font-family: 'Lato', sans-serif;
      font-size: 16px;
      font-weight: 500;
      line-height: 156.25%;

      &:hover {
        a {
          color: #57007b;
        }
      }

      a {
        text-decoration: none;
        color: #000;
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

    &-item {
      cursor: pointer;
      font-family: 'Lato', sans-serif;
      font-size: 16px;
      font-weight: 500;
      line-height: 156.25%;

      &--register {
        display: flex;
        color: #fafafa;
        padding: 14px 25px;
        background: linear-gradient(225deg, #f76680 0%, #57007b 100%);
        font-size: 14px;
        font-weight: 600;
        line-height: 14px;
        border-radius: 5px;

        a {
          text-decoration: none;
          color: #fafafa !important;
        }
      }

      a {
        text-decoration: none;
        color: #000;
      }
    }
  }
}
.page {
  &__landing {
    &-banner {
      padding: 70px 100px;
      @media (max-width: 768px) {
        padding: 16px;
      }
    }
  }
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  box-shadow: 0px 4px 49px 0px rgba(0, 0, 0, 0.15);
  height: 50px;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  border-radius: 5px;
  color: #fafafa;
  cursor: pointer;
  text-decoration: none;
  &--solid {
    background: none;
    border: none;
    box-shadow: none;
    color: #57007b;
    font-size: 16px;
    gap: 8px;
  }
  &--primary {
    padding: 16px 20px;
    background: #57007b;
  }
  &--outline {
    background: #fff;
    color: #57007b;
    border: 1px solid #57007b;
  }
}
