$primary: #57007b;
$secondary: #fecfc4;
$accent: #66cb9f;
$orange: #f7936f;

$white: #ffff;
$black: #000;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;
